<div class="col-md-2">
  <div class="list-group user-info" id='sidebar-padding'>

    <p class='user-content'><%= image_tag current_user.image, :class => "twitter-image" %><br>
    Name: <%= current_user.name %><br>
    Twitter: <%= current_user.display_name %><br>
    Current City: <%= current_user.city %><br>
    Phone Number: <br><%= format_phone %><br>
    <%= link_to 'Text Me', user_text_path(current_user) %> |
    <%= link_to 'Edit Info', edit_user_path(current_user) %></p>

    <div class='user-content scrolling'><p> Favorite Neighborhoods:<% current_user.neighborhoods.each do |n|%>
      <ul><%= link_to n.name, neighborhood_path(n), "data-no-turbolink" => true %></ul>
    <%end%></p></div>
  </div>
</div>
<div class="col-md-8">
  <div class="user-large">
    <div class='user-content scrolling'>
      <% groups.each do |p| %>
      <h4><%= Neighborhood.find(p[0]).name%></h4><br>
      <% p[1].each do |ph| %>
      <img src="<%= ph.photo(:medium)%>">
      <%end%><br>
      <%end%>
    </div>
  </div>
</div>
