<div class="col-md-2">
  <div class="list-group" id='sidebar-padding'>

    <%= link_to @area.city.name, city_path(@area.city),"data-no-turbolink" => true, class:'btn list-group-item denver sidebar-button' %>
    <%= link_to 'Search', root_path, class:'btn search list-group-item sidebar-button' %>
    <br>
    <% @filters.each do |filter| %>
      <%= link_to filter, '#', class:'btn list-group-item sidebar-button filter-button', "data-filter-name" => "#{filter.downcase}" %>
    <% end %>
    <br>
    <%= users_neighborhood(@area) %>
    <br>
    <%= link_to 'See Photos', neighborhood_photos_gallery_path(@area), class:'btn list-group-item sidebar-button' %>
    <% if current_user %>
      <a class="btn list-group-item sidebar-button" data-toggle="modal" data-target="#myModal">
        Upload Photo
      </a>
    <% end %>
  </div>
</div>

<!-- Modal -->
<% if current_user %>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload a Photo</h4>
      </div>
      <div class="modal-body">
        <%= form_for @photo, url: neighborhood_photos_path, method: :create do |f|%>
          <%= f.file_field :photo %>
          <%= f.hidden_field :neighborhood_id, value: @area.id %>
          <%= f.hidden_field :user_id, value: current_user.id %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit value="Upload", class: "btn btn-primary" %>
          <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="col-md-8">
  <div id="neighborhood-information" data-neighborhood-id="<%= params[:id] %>"></div>
  <div id="center-information" data-center-lat= "<%=@area.coordinates.first.lat%>" data-center-lon="<%=@area.coordinates.first.lon%>"></div>
  <div id="map-canvas">
    <%= javascript_include_tag "map" %>
  </div>
</div>
